<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/index.css" type="text/css">
  <title>MPF INVEST</title>
</head>
<body>
  <header class="header">
    <img src="../assets/logo-MPF.jpeg" alt="Logo de MPF" />
  </header>
  <main class="main">
    <section class="main__section__content">
      <div class="main__section__content__text">
        <h2>Actualiza contraseña</h2>
        <p class="parrafo__update">
          Busquemos proteger tu cuenta. Recuerda que tu contraseña debe cumplir las siguientes condiciones:
        </p>
        <ul class="list">
          <li>Tu contraseña debe tener entre 8 a 12 caracteres.</li>
          <li>Debe contener al menos un Cáracter en minúscula.</li>
          <li>Debe contener al menos un Cáracter en mayúscula.</li>
          <li>Debe contener al menos un Cáracter especial.</li>
          <li>Tu contraseña debe contener letras y números.</li>
        </ul>
        <label class="input-label" for="new-password">Contraseña</label>
        <input class="input-line" type="password" id="new-password" name="new-password" required>
        <label class="input-label" for="confirm-password">Confirma tu contraseña</label>
        <input class="input-line" type="password" id="confirm-password" name="confirm-password" required>
        <button class="button" onclick="location.href='../views/upgrade.html'">Siguiente</button>
      </div>
    </section>
    <div class="main__content__img">
      <img src="../assets/update password.svg" alt="Actualizar contraseña" />
    </div>
  </main>
  <footer>
    <p class="footer">MPF Invest. Todos los derechos reservados</p>
  </footer>
</body>
</html>
