<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/index.css" type="text/css">
  <title>MPF INVFEST</title>
</head>

<body>
  <header class="header">
    <img src="../assets/logo-MPF.jpeg" alt="Logo de MPF" />
  </header>
  <main class="main">
    <section class="main__section__content">
      <div class="main__section__content__text">
        <h2>Contraseña actulizada</h2>
        <p class="parrafo__update">
          Tu cuenta ha sido actulizada correctamente, puedes cerrar esta pagina apartir de este momento.
        </p>
    </section>
    <div class="main__content__img">
      <img src="../assets/update password.svg" alt="Actualizar contraseña" />
    </div>
  </main>

  <footer>
    <p class="footer">MPF Invest. Todos los derechos reservados</p>
  </footer>
</body>